body{
  background-color: #E5D1FA;
}

.app{
background-color: #FFF4D2;
min-height: 90vh;
width: 500px;
margin: 20px auto;
border-radius: 40px 50%;

}
.crossed{
  text-decoration: line-through 2px #E3DFFD;
  background-color: #ECF2FF;
}
ul, li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'EB Garamond', serif;
  color: #EA8FEA;
}

h1{
  font-family: 'EB Garamond', serif;
  color: #EA8FEA;
}

.container{
  display: flex;
  justify-content: center;
}

.add{
  margin-top: 5px;
  background: #FFAACF;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'EB Garamond', serif;
  border-radius: 40%;
}

.delete{
  background: #FF5F9E;
  padding: 10px;
  border: none;
  width: 70%;
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
  font-family: 'EB Garamond', serif;
  border-radius: 40%;
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'EB Garamond', serif;
  color: #609EA2;
  border: none;
  border-radius: 40%;
}

img{
  border-radius: 50%;
}